.swiper-header {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;

  .arrow-buttons {
    @media (max-width: $md){
      display: none;
    }
    background: $white;
    display: flex;
    gap: 30px;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    height: 96px;
    width: 192px;
    .swiper-button-prev {
      position: relative;
      top: 0;
      margin-top: 0;
      height: 96px;
      width: 120px;
      transition-duration: 0.1s;
      &:hover {
        left: 5px;
        transition-duration: 0.2s;
      }
    }
    .swiper-button-next {
      position: relative;
      top: 0;
      margin-top: 0;
      height: 96px;
      width: 120px;
      right: 10px;
      left: auto;
      transition-duration: 0.1s;
      &:hover {
        right: 5px;
        transition-duration: 0.2s;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      &::after {
        display: none;
      }
    }
    .button-content-prev,
    .button-content-next {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
