body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
nav {
  z-index: 9999999;
  font-family: $inter;
  font-size: 14px;
}
body.navbar-items-active {
  overflow: hidden;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $md) {
    .container {
      padding: 0;
      .navbar-logo {
        padding-left: 15px;
      }
    }
  }
}
.container {
  max-width: 1292px;
  width: 100%;
}
// ----------
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  color: $black;
  height: 72px;
  padding: 0;
}
.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: $black;
}
.navbar-items {
  display: flex;
  align-items: center;
}
.navbar-item {
  padding: 10px 20px;
  text-decoration: none !important;
  color: $black;
  transition-duration: 0.3s;
  &:hover {
    color: $green;
    transition-duration: 0.3s;
  }
}
.navbar-search {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.search-bar {
  width: 0;
  height: 30px;
  border: none;
  background-color: $white;
  transition: width 0.3s ease;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.search-bar.active {
  width: 150px;
  padding-left: 5px;
  margin-right: 10px;
  border-bottom: 1px solid $beige;
}

input:focus-visible {
  outline-width: 0;
}

.search-icon {
  cursor: pointer;
  padding-right: 0 !important;
}

//   navbar-dropdown

.navbar-dropdown {
  display: none;
  position: absolute;
  background-color: $white;
  list-style: none;
  padding: 5px;
  z-index: 1;
  top: 100%;
  left: 0;
  z-index: 99999999;
}

.offer-container.active .navbar-dropdown {
  display: block;
}
.dropdown-item {
  padding: 5px;
  cursor: pointer;
  color: $black;
  cursor: pointer;
  transition-duration: 0.3s;
}
.dropdown-item:hover {
  color: $green;
  transition-duration: 0.3s;
}
.offer-label {
  cursor: pointer;
  display: flex;
}
.dropdown-item.active,
.dropdown-item:active {
  color: $green;
  text-decoration: none;
  background-color: transparent;
}
.navbar-arrow {
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  display: flex;

  img{
    transition: transform 0.3s ease;
    transform: rotate(0);
  }
}
.offer-container.active .navbar-arrow {
  img{
    transform: rotate(180deg);
  }
}
.offer-container {
  display: flex;
  align-items: center;
  position: relative;
}

// Media
@media (max-width: 762px) {
  .navbar {
    justify-content: space-between;
  }

  .navbar-burger {
    display: block;
    cursor: pointer;
    font-size: 20px;
    color: $black;
  }

  .navbar-items {
    // display: none;
    flex-direction: column;
    align-items: flex-start;
    // background-color: $black;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    transition-duration: 0.3s;
    z-index: 1;
    left: -100vh;
  }

  .navbar-items.active {
    display: flex;
    flex-direction: column;
    background-color: $white;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    align-items: center;
    align-content: center;
    text-align: center;
    gap: 10px;
    font-size: 22px;
    // justify-content: center;
    justify-content: flex-start;
    overflow-y: auto;
    left: 0.5s;
}

  .navbar-items.active .offer-container.active ~ * {
    transform: translateY(180px);
  }

  .navbar-item {
    padding: 10px 20px;
    text-decoration: none;
    color: $black;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .offer-container{
    margin-top: 60px;
  }

  .navbar-search {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .dropdown-item {
    font-size: 18px;
  }

  .navbar-dropdown {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -10px;
  }

  .navbar-arrow {
    display: none;
  }

  .navbar-search {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .search-bar{
      order: 2;
    }
    .search-bar.active {
      margin-right: 0;
    }
    .navbar-item{
      padding: 0;
      order: 1;
    }
  }
}

@media (min-width: 763px) {
  .navbar-burger {
    display: none;
  }

  .navbar-items {
    display: flex;
    align-items: center;
  }

  .navbar-item {
    padding: 10px 20px;
    text-decoration: none;
    color: $black;
  }

  .navbar-search {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

#menu {
  transform: translate(-50%, 0%);
  height: 30px;
  width: 30px;
}

#menu:hover {
  cursor: pointer;
}

#menu span {
  background: $black;
  transform: translateY(-50%) rotate(0deg);
  position: absolute;
  width: 100%;
  height: 10%;
  transition: top 0.1s ease 0.3s, transform 0.3s ease, background 0.1s ease 0.3s;
}

#menu.clicked span {
  transition: top 0.1s ease, transform 0.3s ease 0.1s, background 0.1s ease;
}

#menu span:nth-child(1) {
  top: 10%;
}

#menu span:nth-child(2) {
  top: 50%;
}

#menu span:nth-child(3) {
  top: 90%;
}

#menu.clicked span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(315deg);
}

#menu.clicked span:nth-child(2) {
  transform: translateY(-50%) rotate(405deg);
}

#menu.clicked span:nth-child(3) {
  top: 50%;
  transform: translateY(-50%) rotate(405deg);
}
