/* FONTS */
// @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// $font-main: "Roboto", sans-serif;

/* COLORS */
$black: #111111;
$white: #FFFFFF;
$green: #1B5B31;
$grey: #F5F0EC;
$beige: #DCC1AB;



/*   Resolution  */
$xxxl: 1679px;
$xxl: 1399px;
$xl: 1199px;
$lg: 991px;
$md: 767px;
$sm: 575px;